.modal-container{
	margin-left:auto;
	margin-right:auto;
	
}
.modal-body{
	height:90px;
	width:100%;
}

.help-block{
	color:red;
}
.col-sm-offset-2{
	margin-left:30%;
}

.LoginWrapper .modal-content{
	margin-left:auto;
	margin-right:auto;
    height:300px;
	width:400px;
}
.LoginWrapper .btn btn-default{
	margin:0px;
}
