.navbar-default .navbar-brand{
	margin-top:15px;
}
.navbar-default .navbar-nav{
	margin-top:15px;
}
.navbar-default .navbar-nav>li>a{
	font-size:16px;
	text-decoration: none;
}
.navbar-nav>li>a:hover{

}

.site-name a{
	text-decoration:none;
	color:#000000;
	
}
.site-name a:hover{
	color:black;
}
.loginBar{
	width:350px;
}

.search-bar{
	margin-left:5%;
	width:380px;
}

.navbar-default .navbar-brand{
	color:white;
	font-size:20px;
}
.navbar-default{
	margin-bottom:0px;
	width:100%;
	height:100px;
	background-image:none;
	background-color: #FFFFFF ;
	box-shadow: 0px 2px 5px lightseagreen;
	border-bottom: 3px solid lightseagreen;
}
.pageLink{
	visibility:hidden;
}

a {
outline: none !important;
}
